
@font-face {
    font-family: Mulish-Reget;
    src: url(/fonts/Mulish-Regular.ttf);
}
.autorization {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4rem;
}

.autorization__block {
    background-color: #F2E6DB;
    padding: 1.5rem 1.5rem 3.5rem;
    width: 26rem;
    border-radius: 1rem;
}

.auto__img {
    width: 24rem;
    height: 24rem;
}

.auto__descriptiont {
    font-size: 0.875rem;
    display: flex;
}

    .auto__descriptiont a {
        margin-left: 0.5rem;
        text-decoration: none;
        font-weight: bold
    }

.autorization-field {
    position: relative;
    min-width: 100%;
}

.autorization-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem; font-family: sans-serif !important;
}

    .autorization-input input {
        font-size: 0.875rem;
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        border: 0.0625rem solid #9A9797;
        outline: none;
        border-radius: 0.5rem;
    }

    .autorization-input .checkPassword {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0px;
        width: 3rem;
        height: 3rem;
        border: none;
        background: none;
        cursor: pointer;
    }

        .autorization-input .checkPassword img {
            vertical-align: middle;
            width: 1.5rem;
            height: 1.5rem;
        }

.autorization-btn {
    border-radius: 0.5rem;
    background-color: #D2C7BC;
    border: 0rem;
    font-size: 0.875rem;
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
}

.autorization-text {
    font-size: 1rem;
    color: #887460;
    text-decoration: none;
    margin-bottom: 1rem;
}

.autorization-text-nm {
    font-size: 1rem;
    color: #887460;
    text-decoration: none;
}

.top {
    margin-top: 1.5rem
}

/*=======РЕГИСТРАЦИЯ=========*/

.name {
    display: flex;
    justify-content: space-between;
}

    .name .autorization-input input {
        width: 100%;
    }

    .name .autorization-input:nth-child(2) .autorization-field {
        font-size: 0.875rem;
        color: #887460;
        text-decoration: none;
    }

    .name .autorization-input:first-child {
        margin-right: 5%;
    }

.autorization-input textarea {
    font-size: 0.88rem;
    width: 100%;
    padding: 1rem;
    border: 0.0625rem solid #9A9797;
    outline: none;
    border-radius: 0.5rem;
    resize: none;
    color: #000;
}
textarea {
    font-family:sans-serif !important;
}

.modal {
    width: 30rem;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    padding: 1rem;
    background-color: #F2E6DB;
    border-radius: 1rem;
}

.modalCenter {
    text-align:center;
}

.modalButton {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.button {
    border-radius: 0.5rem;
    background-color: #D2C7BC;
    border: 0rem;
    font-size: 1rem;
    padding: 0.5rem 0rem;
    width: 40%;
    cursor: pointer;
}

#yesBtn {
}

#noBtn {
}
