<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="icon" href="/img/head__foot/Логотип.png">
    <link rel="stylesheet" href="../css/Authentication/entrance.css">
    <link rel="stylesheet" href="../css/Common/style.css">
    <script src="~/js/Common/clickActive.js" defer></script>
    <script src="~/js/Common/validation.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <div class="modal" id="confirmMassage" style="display:none;">
            <div>
                <p class="modalCenter">Ваш пароль восстановлен</p>
            </div>
        </div>
        @Html.Partial("_Header")
        <div class="autorization">
            <img src="../img/authorization/Untitled 1.png" class="auto__img" alt="">
            <div class="autorization__block">
                <h3 class="h-brown h-left">Восстановление пароля</h3>
                <p class="autorization-text">Пожалуйста, создайте новый пароль, который вы не используете ни на одном другом сайте.</p>
                <form method="post" action="@Url.Action("RecoveryPassword", "Authentication")" id="add-form">
                    <input type="hidden" name="token" value="@ViewBag.Token" />
                    <div class="autorization-input">
                        <div class="autorization-field password">
                            <input data-password="true" name="newPassword" id="passwordOne" type="password" placeholder="Введите новый пароль">
                            <button class="checkPassword password-control" type="submit" onclick="return show_hide_password(this);"><img src="../img/authorization/ic_eye.png" alt=""></button>
                        </div>
                    </div>
                    <div class="autorization-input">
                        <div class="autorization-field">
                            <input data-password="true" data-repeat-password="true" name="repeatNewPassword" id="passwordTwo" type="password" placeholder="Повторите новый пароль">
                            <button class="checkPassword password-control" type="submit" onclick="return hide_password(this);"><img src="../img/authorization/ic_eye.png" alt=""></button>
                        </div>
                    </div>
                    <button type="submit" class="autorization-btn">Изменить пароль</button>
                </form>
                <div class="auto__descriptiont">
                    <p class="autorization-text-nm top">Вспомнили пароль?</p>
                    <a asp-controller="authentication" asp-action="Authorization" class="autorization-text-nm top">Авторизуйтесь!</a>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</body>

</html>