h2 {
    text-align: left !important
}

.indent {
    padding: 0.825rem 0 !important
}

.indent img {
    height: 40%;
    width: 40%;
}

.indent .small {
    width: 25%;
    height: 25%;
}

.indent .big {
    height: 60%;
    width: 60%;
}

.article-flex {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem
}

    .article-flex img {
        display: block;
        margin-right: 1rem;
    }/*
    .article-flex .article__text {
        padding: 0 5rem;
    }*/

.article__text,
.list li {
    font-size: 1rem;
    color: #8E7D6D;
    line-height: 1.75rem
}

.list {
    margin-left: 1rem;
}

    .list ul {
        list-style: inside;
    }


.top {
    margin-top: 2.5rem;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.article__text {
    margin-bottom: 1rem;
}

.text-bottom .article__text:last-child {
    margin-bottom: 0rem;
}

.bold {
    font-weight: bold;
}

.list__photo {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

    .list__photo img {
        height: 12rem;
        width: auto;
    }

.red {
    color: red;
}