<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диагностика "Колени"</title>
    <link rel="icon" href="/img/head__foot/Логотип.png">
    <link rel="stylesheet" href="../css/Common/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/Diagnostics/diagnostics.css">
    <link rel="stylesheet" href="../css/Common/style.css">
    <script src="~/js/Common/swiper-bundle.min.js" defer></script>
    <script src="~/js/diagnostics.js" defer></script>
    <script src="~/js/Common/clickActive.js" defer></script>
</head>

<body>
    <div class="wrapper">
        @Html.Partial("_DiagnosticsModal")
        @Html.Partial("_Header")
        <div class="container">
            <div class="indent text-bottom">
                <h2>
                    Колени
                </h2>
                <div class="center">
                    <img class="big" src="~/img/diagnostics/image 13.png" alt="" />
                </div>
                <p class="diagnostics__text">
                    Нормальное положение коленей предполагает, что когда человек стоит прямо с соприкасающимися коленями, щиколотки также соприкасаются, создавая прямую линию от бедер до стоп. Нет заметного внутреннего или наружного искривления. Правильное положение коленей способствует равномерному распределению веса и нагрузки на коленные суставы, что снижает риск развития ортопедических проблем.
                </p>
                <p class="diagnostics__text">
                    Варусное положение коленей характеризуется наружным искривлением ног, при котором колени расходятся, а стопы при этом могут соединяться. Это делает контур ног похожим на букву "О". Обычно такое искривление видно, когда человек стоит прямо с соприкасающимися коленями, а щиколотки остаются раздвинутыми. Это состояние может приводить к неравномерной нагрузке на коленный сустав, что со временем может вызвать боль и проблемы с суставами. Это состояние может вызвать избыточную нагрузку на внутреннюю часть колена, что со временем может привести к боли и артриту.
                </p>
                <p class="diagnostics__text">
                    Вальгусное положение коленей характеризуется внутренним искривлением ног, при котором колени сближаются, а стопы расходятся, создавая контур, напоминающий букву "Х". Когда человек стоит прямо с соприкасающимися стопами, между коленями образуется заметный промежуток.
                </p>
                <p class="diagnostics__text">
                    Если вы подозреваете, что у вас есть варусное или вальгусное положение коленей или испытываете какой-либо дискомфорт, рекомендуется обратиться к врачу или физиотерапевту для получения профессиональной консультации и возможного лечения.
                </p>
            </div>
            <div class="indent">
                <h2>
                    Самостоятельная проверка
                </h2>
                <div class="diagnostics-flex">
                    <img class="small" src="~/img/diagnostics/image 14.png" alt="" />
                    <div class="diagnostics__content">
                        <p class="diagnostics__text">
                            Для проверки коленей на предмет их варусного или вальгусного искревления, следуйте этим шагам:
                        </p>
                        <ol class="list">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Разместите стопы на расстоянии, равном ширине ладони.</li>
                                    <li>Опустите руки вдоль тела, не напрягая их.</li>
                                    <li>Стойте ровно, не напрягаясь, чтобы ваше тело заняло естественное, расслабленное положение.</li>
                                </ul>
                            </li>
                            <li class="text-open">
                                Отметьте ключевые точки:
                                <ul>
                                    <li>Ставим точку на центр колена, и нижнюю часть голени, где щиколотка, как на примере.</li>
                                    <li>Проведите между ними линию.</li>
                                </ul>
                            </li>
                            <li class="text-open">
                                Оцените направление линии:
                                <ul>
                                    <li>Если линия идущая от колена заходит за территорию стопы и выходит на внешнюю часть - варус.</li>
                                    <li>Если эта линия выходит за территорию стопы на внутреннюю часть - вальгус.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <ol class="list text-head" start="2">
                    <li>
                        Отметьте ключевые точки:
                        <ul>
                            <li>Ставим точку на центр колена, и нижнюю часть голени, где щиколотка, как на примере.</li>
                            <li>Проведите между ними линию.</li>
                        </ul>
                    </li>
                    <li>
                        Оцените направление линии:
                        <ul>
                            <li>Если линия идущая от колена заходит за территорию стопы и выходит на внешнюю часть - варус.</li>
                            <li>Если эта линия выходит за территорию стопы на внутреннюю часть - вальгус.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="indent">
                <h2>
                    Проверка с помощью нашей диагностики
                </h2>
                <div class="diagnostics-flex">
                    <img class="small" src="~/img/diagnostics/knees.png" alt="" />
                    <div class="diagnostics__content">
                        <p class="diagnostics__text">
                            Для того чтобы сделать фотографию колен для проверки на варусное или вальгусное искривление, можно воспользоваться следующей инструкцией:
                        </p>
                        <ol class="list">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Найдите просторное и хорошо освещенное место.</li>
                                    <li>Убедитесь, что фон за спиной однотонный и не отвлекает внимание от объекта съемки, например, на фоне стены.</li>
                                </ul>
                            </li>
                            <li>
                                Позиционирование:
                                <ul>
                                    <li>Снимите обувь и одежду с ног, чтобы колени были полностью видны.</li>
                                    <li>Встаньте прямо, расположите стопы на ширине ладони друг от друга.</li>
                                </ul>
                            </li>
                            <li>
                                Поза:
                                <ul>
                                    <li>Расслабьте мышцы ног и позвольте рукам свободно висеть вдоль тела.</li>
                                </ul>
                            </li>
                            <li class="text-open">
                                Настройка камеры:
                                <ul>
                                    <li>Поместите камеру так, чтобы она была на уровне коленей, при этом должен быть виден весь таз.</li>
                                    <li>Используйте таймер, чтобы успеть занять правильную позу перед съемкой.</li>
                                </ul>
                            </li>
                            <li class="text-open">
                                Фотографирование:
                                <ul>
                                    <li>Сфотографируйте колени с передней стороны, чтобы в кадре были видны обе ноги от бедра до стоп.</li>
                                    <li>Сделайте несколько снимков для выбора наилучшего кадра.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <ol class="list text-open" start="6">
                    <li>
                        Проверка снимка:
                        <ul>
                            <li>Убедитесь, что на фотографии колени и стопы хорошо видны, а линии колен не искажены.</li>
                            <li>Фотография должна быть четкой, чтобы можно было точно оценить искривление колен.</li>
                        </ul>
                    </li>
                </ol>
                <ol class="list text-head" start="4">
                    <li>
                        Настройка камеры:
                        <ul>
                            <li>Поместите камеру так, чтобы она была на уровне коленей.</li>
                            <li>Используйте таймер, чтобы успеть занять правильную позу перед съемкой.</li>
                        </ul>
                    </li>
                    <li>
                        Фотографирование:
                        <ul>
                            <li>Сфотографируйте колени с передней стороны, чтобы в кадре были видны обе ноги от бедра до стоп.</li>
                            <li>Сделайте несколько снимков для выбора наилучшего кадра.</li>
                        </ul>
                    </li>
                    <li>
                        Проверка снимка:
                        <ul>
                            <li>Убедитесь, что на фотографии колени и стопы хорошо видны, а линии колен не искажены.</li>
                            <li>Фотография должна быть четкой, чтобы можно было точно оценить искривление колен.</li>
                        </ul>
                    </li>
                </ol>
                    <button type="button" class="more" id="openModal">Загрузить фотографию<img src="../img/icon.png" alt=""></button>
            </div>
            <div class="indent top">
                <h2>
                    Примеры работы диагностики
                </h2>
            </div>
            <div class="slider-swiper">
            <div class="image-slider swiper">
                <div class="image-slider__wrapper swiper-wrapper">
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelKnees/1.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelKnees/2.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelKnees/3.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelKnees/4.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelKnees/5.jpg" alt="Картинка" />
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</body>

</html>