<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диагностика "Лопатки"</title>
    <link rel="icon" href="/img/head__foot/Логотип.png">
    <link rel="stylesheet" href="../css/Common/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/Diagnostics/diagnostics.css">
    <link rel="stylesheet" href="../css/Common/style.css">
    <script src="~/js/Common/swiper-bundle.min.js" defer></script>
    <script src="~/js/diagnostics.js" defer></script>
    <script src="~/js/Common/clickActive.js" defer></script>
</head>

<body>
    <div class="wrapper">
        @Html.Partial("_DiagnosticsModal")
        @Html.Partial("_Header")
        <div class="container">
            <div class="indent">
                <h2>
                    Лопатки
                </h2>
                <div class="diagnostics-flex">
                    <img src="~/img/diagnostics/image 11.png" alt="" />
                    <p class="diagnostics__text">
                        Крыловидная лопатка - это патологическое состояние, обусловленное оттопыриванием вертебрального края лопатки от грудной стенки.
                        В патологическом процессе участвует передняя зубчатая мышца, которая удерживает на себе лопаточную кость. Патология возникает из-за
                        слабости мышц, приводящих лопатки, — ромбовидной и трапециевидной. То есть лопатка занимает положение под углом к поверхности ребер,
                        ее внутренний край как бы оттопыривается от грудной клетки и становится похожим на крыло.
                        <br />
                        <span class="text-open">
                            Если вы подозреваете, что у вас есть крыловидная лопатка или испытываете какой-либо дискомфорт, рекомендуется обратиться к врачу
                            или физиотерапевту для получения профессиональной консультации и возможного лечения.
                        </span>
                    </p>
                </div>
                <span class="text-head">
                    Если вы подозреваете, что у вас есть крыловидная лопатка или испытываете какой-либо дискомфорт, рекомендуется обратиться к врачу
                    или физиотерапевту для получения профессиональной консультации и возможного лечения.
                </span>
            </div>
            <div class="indent">
                <h2>
                    Самостоятельная проверка
                </h2>
                <p class="diagnostics__text">
                    Для проверки наличия крыловидной лопатки, можно выполнить следующие действия:
                </p>
                <ol class="list">
                    <li>Встаньте перед зеркалом и снимите верхнюю одежду, чтобы лопатки были видны.</li>
                    <li>Расслабьте руки и плечи и внимательно осмотрите форму и положение лопаток.</li>
                    <li>Поднимите руки перед собой или в стороны, затем опустите их. Обратите внимание на любые изменения в положении лопаток.</li>
                    <li>
                        Прислонитесь руками к стене, как будто вы собираетесь оттолкнуться от неё, и понаблюдайте за движением лопаток.
                        Если лопатка выступает наружу, особенно в нижнем углу, это может указывать на крыловидную лопатку.
                    </li>
                </ol>
            </div>
            <div class="indent">
                <h2>
                    Проверка с помощью нашей диагностики
                </h2>
                <div class="diagnostics-flex">
                    <img src="~/img/diagnostics/image 12.png" alt="" />
                    <div class="diagnostics__content">
                        <p class="diagnostics__text">
                            Чтобы сделать качественную фотографию спины для более точной проверки на наличие крыловидных лопаток,
                            вы можете следовать следующим шагам:
                        </p>
                        <ol class="list text-open">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Найдите хорошо освещенное место, чтобы на фотографии были четко видны контуры тела.</li>
                                    <li>Убедитесь, что фон за спиной однотонный и не отвлекает внимание от объекта съемки, например, на фоне стены.</li>
                                    <li>Используйте фотоаппарат или смартфон с камерой хорошего качества.</li>
                                </ul>
                            </li>
                            <li>
                                Позиция тела:
                                <ul>
                                    <li>Обнажите спину, чтобы лопатки были видны.</li>
                                    <li>Встаньте прямо, расслабьте плечи и опустите руки вдоль тела.</li>
                                </ul>
                            </li>
                            <li>
                                Поза для фотографии:
                                <ul>
                                    <li>Стоя спиной к камере, держите голову прямо, чтобы позвоночник оставался в естественном положении.</li>
                                    <li>Не напрягайте спину и плечи, чтобы не искажать естественное положение лопаток.</li>
                                </ul>
                            </li>
                        </ol>
                        <ol class="list text-head">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Найдите хорошо освещенное место, чтобы на фотографии были четко видны контуры тела.</li>
                                    <li>Убедитесь, что фон за спиной однотонный и не отвлекает внимание от объекта съемки, например, на фоне стены.</li>
                                    <li>Используйте фотоаппарат или смартфон с камерой хорошего качества.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <ol class="list text-open" start="4">
                    <li>
                        Установка камеры:
                        <ul>
                            <li>Поместите камеру на уровне вашей спины, чтобы она была параллельна земле. Это поможет получить точное изображение лопаток без искажений.</li>
                            <li>Если используется смартфон, активируйте таймер, чтобы у вас было время занять правильную позу перед съемкой.</li>
                        </ul>
                    </li>
                    <li>
                        Фотографирование:
                        <ul>
                            <li>Если кто-то делает вам фото, убедитесь, что он или она стоит прямо за вами на расстоянии, достаточном для того, чтобы ваша вся спина была в кадре.</li>
                            <li>Если вы делаете фото сами, установите камеру или смартфон на треногу или стабильную поверхность и используйте таймер.</li>
                        </ul>
                    </li>
                    <li>
                        Проверка фотографии:
                        <ul>
                            <li>Убедитесь, что фотография четкая и на ней хорошо видны обе лопатки.</li>
                            <li>Проверьте, нет ли на фото теней или искажений, которые могут помешать правильной оценке формы лопаток.</li>
                        </ul>
                    </li>
                </ol>
                <ol class="list text-head" start="2">
                    <li>
                        Позиция тела:
                        <ul>
                            <li>Обнажите спину, чтобы лопатки были видны.</li>
                            <li>Встаньте прямо, расслабьте плечи и опустите руки вдоль тела.</li>
                        </ul>
                    </li>
                    <li>
                        Поза для фотографии:
                        <ul>
                            <li>Стоя спиной к камере, держите голову прямо, чтобы позвоночник оставался в естественном положении.</li>
                            <li>Не напрягайте спину и плечи, чтобы не искажать естественное положение лопаток.</li>
                        </ul>
                    </li>
                    <li>
                        Установка камеры:
                        <ul>
                            <li>Поместите камеру на уровне вашей спины, чтобы она была параллельна земле. Это поможет получить точное изображение лопаток без искажений.</li>
                            <li>Если используется смартфон, активируйте таймер, чтобы у вас было время занять правильную позу перед съемкой.</li>
                        </ul>
                    </li>
                    <li>
                        Фотографирование:
                        <ul>
                            <li>Если кто-то делает вам фото, убедитесь, что он или она стоит прямо за вами на расстоянии, достаточном для того, чтобы ваша вся спина была в кадре.</li>
                            <li>Если вы делаете фото сами, установите камеру или смартфон на треногу или стабильную поверхность и используйте таймер.</li>
                        </ul>
                    </li>
                    <li>
                        Проверка фотографии:
                        <ul>
                            <li>Убедитесь, что фотография четкая и на ней хорошо видны обе лопатки.</li>
                            <li>Проверьте, нет ли на фото теней или искажений, которые могут помешать правильной оценке формы лопаток.</li>
                        </ul>
                    </li>
                </ol>
                <button type="button" class="more" id="openModal">Загрузить фотографию<img src="../img/icon.png" alt=""></button>
            </div>
            <div class="indent top">
                <h2>
                    Примеры работы диагностики
                </h2>
            </div>
            <div class="image-slider swiper">
                <!-- Additional required wrapper -->
                <div class="image-slider__wrapper swiper-wrapper">
                    <!-- Slides -->
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelBlade/1.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelBlade/2.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelBlade/3.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelBlade/4.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelBlade/5.jpg" alt="Картинка" />
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</body>

</html>