<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диагностика "Положение головы и шеи"</title>
    <link rel="icon" href="/img/head__foot/Логотип.png">
    <link rel="stylesheet" href="../css/Common/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/Diagnostics/diagnostics.css">
    <link rel="stylesheet" href="../css/Common/style.css">
    <script src="~/js/Common/swiper-bundle.min.js" defer></script>
    <script src="~/js/diagnostics.js" defer></script>
    <script src="~/js/Common/clickActive.js" defer></script>
</head>

<body>
    <div class="wrapper">
        @Html.Partial("_DiagnosticsModal")
        @Html.Partial("_Header")
        <div class="container">
            <div class="indent text-bottom">
                <h2>
                    Положение головы и шеи
                </h2>
                <div class="center">
                    <img class="big" src="~/img/diagnostics/image 20.png" alt="" />
                </div>
                <p class="diagnostics__text">
                    Протракция шеи — это движение, при котором шея и голова выдвигаются вперед от оси позвоночника. Это движение типично для многих людей, проводящих много времени за компьютером или смартфоном, и может привести к "синдрому текстового шеи".
                </p>
                <p class="diagnostics__text">
                    Ретракция шеи — это движение, при котором шея и голова отводятся назад, в сторону позвоночника. Это движение противоположно протракции и часто используется для коррекции осанки, особенно при работе за компьютером или длительном нахождении в сидячем положении. Если ретракция шеи не является результатом сознательного выполнения упражнения, а представляет собой постоянное или непроизвольное положение (дефект), это может указывать на наличие определенных проблем или нарушений.
                </p>
                <p class="diagnostics__text">
                    Продолжительная протракция шеи может привести к хроническим болям, дегенеративным изменениям в шейном отделе позвоночника и ухудшению осанки. Вместо этого рекомендуется фокусироваться на упражнениях по укреплению шеи и улучшению осанки, таких как ретракция шеи, и других упражнениях для шейного отдела позвоночника.
                </p>
            </div>
            <div class="indent">
                <h2>
                    Самостоятельная проверка
                </h2>
                <p class="diagnostics__text">
                    Для самостоятельной проверки на наличие "компьютерной шеи", которая является распространённым результатом длительной работы за компьютером и характеризуется протракцией (выдвижением вперёд) головы и шеи, можно выполнить следующий тест:
                </p>
                <ol class="list">
                    <li>
                        Используйте боковое зеркало:
                        <ul>
                            <li>Встаньте или сядьте боком к зеркалу, чтобы вы могли видеть свой профиль.</li>
                        </ul>
                    </li>
                    <li>
                        Обратите внимание на положение ушей:
                        <ul>
                            <li>В нормальном положении линия центра плеча должна быть в одной вертикальной линии с лобком уха. Если ваша голова и шея выдвинуты вперёд относительно этой линии, это может указывать на протракцию.</li>
                        </ul>
                    </li>
                    <li>
                        Оцените изгиб шеи:
                        <ul>
                            <li>"Компьютерная шея" часто сопровождается уменьшением естественного изгиба шейного отдела позвоночника. Попытайтесь оценить, насколько прямой или плоской кажется ваша шея в профиль.</li>
                        </ul>
                    </li>
                    <li>
                        Проверьте положение подбородка:
                        <ul>
                            <li>В идеале подбородок должен быть немного подтянут к шее, а не вытянут вперёд.</li>
                        </ul>
                    </li>
                    <li>
                        Осанка плеч:
                        <ul>
                            <li>Обратите внимание на положение ваших плеч. Плечи, поднятые и закруглённые вперёд, могут сопровождать "компьютерную шею".</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="indent">
                <h2>
                    Проверка с помощью нашей диагностики
                </h2>
                <div class="diagnostics-flex">
                    <img class="small" src="~/img/diagnostics/image 21.png" alt="" />
                    <div class="diagnostics__content">
                        <p class="diagnostics__text">
                            Для того чтобы сделать фотографию для проверки положения головы и шеи (протракцию), следуйте этим шагам:
                        </p>
                        <ol class="list">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Найдите хорошо освещенное помещение с однородным фоном для четкости изображения, например, у стены. Убедитесь, что на фоне нет отвлекающих предметов.</li>
                                    <li>Используйте камеру смартфона или фотоаппарат. Поместите его на устойчивую поверхность или треногу на уровне груди.</li>
                                </ul>
                            </li>
                            <li>
                                Позиционирование:
                                <ul>
                                    <li>Встаньте боком к камере так, чтобы одна сторона тела была направлена к объективу. Плечи и бедра должны быть параллельны камере.</li>
                                    <li class="text-open">Расслабьте мышцы и стойте естественно, не напрягаясь. Руки нужно опустить вдоль тела.</li>
                                    <li class="text-open">Голова должна быть направлена вперед, взгляд направлен прямо, чтобы позвоночник находился в естественном положении.</li>
                                    <li class="text-open">Позиция должна быть расслабленная.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <ul class="list text-head">
                    <li>Расслабьте мышцы и стойте естественно, не напрягаясь. Руки нужно опустить вдоль тела.</li>
                    <li>Голова должна быть направлена вперед, взгляд направлен прямо, чтобы позвоночник находился в естественном положении.</li>
                    <li>Позиция должна быть расслабленная.</li>
                </ul>
                <ol class="list" start="3">
                    <li>
                        Фотографирование:
                        <ul>
                            <li>Настройте таймер на камере, чтобы у вас было достаточно времени занять правильную позу перед съемкой.</li>
                            <li>Чтобы убедиться, что вы получите четкое изображение, сделайте несколько снимков.</li>
                        </ul>
                    </li>
                    <li>
                        Оценка:
                        <ul>
                            <li>Проверьте фотографии: Убедитесь, что фотографии четкие и на них хорошо видны изгибы позвоночника в грудной и поясничной областях.</li>
                        </ul>
                    </li>
                </ol>
                    <button type="button" class="more" id="openModal">Загрузить фотографию<img src="../img/icon.png" alt=""></button>
            </div>
            <div class="indent top">
                <h2>
                    Примеры работы диагностики
                </h2>
            </div>
            <div class="image-slider swiper">
                <div class="image-slider__wrapper swiper-wrapper">
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelNeck/1.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelNeck/2.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelNeck/3.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelNeck/4.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelNeck/5.jpg" alt="Картинка" />
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</body>

</html>