<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диагностика "Стопы"</title>
    <link rel="icon" href="/img/head__foot/Логотип.png">
    <link rel="stylesheet" href="../css/Common/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/Diagnostics/diagnostics.css">
    <link rel="stylesheet" href="../css/Common/style.css">
    <script src="~/js/Common/swiper-bundle.min.js" defer></script>
    <script src="~/js/diagnostics.js" defer></script>
    <script src="~/js/Common/clickActive.js" defer></script>
</head>

<body>
    <div class="wrapper">
        @Html.Partial("_DiagnosticsModal")
        @Html.Partial("_Header")
        <div class="container">
            <div class="indent text-bottom">
                <h2>
                    Стопы
                </h2>
                <div class="center">
                    <img class="big" src="~/img/diagnostics/image 15-feet.png" alt="" />
                </div>
                <p class="diagnostics__text">
                    Пронированная стопа (плоская стопа) характеризуется излишним опусканием внутреннего края подошвы, что приводит к уменьшению подъема стопы. В результате, при стоянии или ходьбе, большая часть веса тела приходится на внутреннюю часть стопы. Пронированная стопа может вызвать неправильное распределение веса по ноге и связанные с этим проблемы, включая боли в стопе, колене, бедре и даже в пояснице. Лечение и коррекция: Ортопедические стельки, упражнения на укрепление мышц стопы и физиотерапия.
                </p>
                <p class="diagnostics__text">
                    Супинированная стопа (высокий подъём) имеет чрезмерно высокий подъем, что приводит к уменьшению контакта стопы с землей. Большая часть веса приходится на внешние края стоп. Это может привести к чрезмерному напряжению на внешней стороне стопы и щиколотке, увеличивая риск травм. Лечение и коррекция: Ношение обуви с хорошей амортизацией, специальные стельки для распределения нагрузки, упражнения для гибкости и укрепления стопы.
                </p>
                <p class="diagnostics__text">
                    Стопа считается нормальной, когда подъем имеет умеренную высоту, что обеспечивает оптимальное распределение веса и эффективную амортизацию при ходьбе.
                </p>
                <div class="diagnostics-flex">
                    <img src="~/img/diagnostics/image 16.png" alt="" />
                    <div>
                        <p class="diagnostics__text">
                            Вальгусная деформация большого пальца стопы, обычно известная, как "косточка" на ноге - это состояние, при котором происходит отклонение большого пальца стопы в сторону остальных пальцев, в то время как первая метатарзальная кость отклоняется наружу. В результате на внутренней стороне стопы образуется видимый выпуклый бугор.
                        </p>
                        <p class="diagnostics__text text-open">
                            Данное заболевание может быть вызвано разными факторами, включая генетическую предрасположенность, ношение неудобной обуви с узким носком или высоким каблуком, а также различные заболевания, такие как артрит. Вальгусная деформация может приводить к боли, дискомфорту при ходьбе и ограничению подвижности в суставе большого пальца. Лечение может включать ношение ортопедической обуви, физиотерапевтические упражнения, применение ортезов и, в тяжелых случаях, хирургическое вмешательство для восстановления нормального положения костей стопы.
                        </p>
                    </div>
                </div>
                <p class="diagnostics__text text-head">
                    Данное заболевание может быть вызвано разными факторами, включая генетическую предрасположенность, ношение неудобной обуви с узким носком или высоким каблуком, а также различные заболевания, такие как артрит. Вальгусная деформация может приводить к боли, дискомфорту при ходьбе и ограничению подвижности в суставе большого пальца. Лечение может включать ношение ортопедической обуви, физиотерапевтические упражнения, применение ортезов и, в тяжелых случаях, хирургическое вмешательство для восстановления нормального положения костей стопы.
                </p>
                <p class="diagnostics__text">
                    Если вы подозреваете, что у вас есть проблемы со стопой или испытываете какой-либо дискомфорт, рекомендуется обратиться к врачу или физиотерапевту для получения профессиональной консультации и возможного лечения.
                </p>
            </div>
            <div class="indent">
                <h2>
                    Самостоятельная проверка
                </h2>
                <div class="diagnostics-flex">
                    <img src="~/img/diagnostics/image 16-feet.png" alt="" />
                    <div class="diagnostics__content">
                        <p class="diagnostics__text">
                            Для проверки которая поможет определить, пронирована стопа, супинирована или в норме, следуйте этим шагам:
                        </p>
                        <ol class="list">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Найдите ровную, твердую поверхность для стояния.</li>
                                    <li>Обеспечьте хорошее освещение, чтобы четко видеть контур стопы.</li>
                                </ul>
                            </li>
                            <li>
                                Визуальный осмотр стопы:
                                <ul>
                                    <li>Встаньте прямо и расслабьте стопы.</li>
                                    <li>Осмотрите стопы сверху, обратите внимание на высоту свода стопы — это изогнутая часть стопы между пяткой и шариками пальцев.</li>
                                </ul>
                            </li>
                            <li>
                                Проверка свода стопы:
                                <ul>
                                    <li>Можно оценить высоту свода стопы, пытаясь просунуть палец под свод стопы в положении стоя. Если между стопой и полом достаточно места для прохождения пальца, это указывает на нормальный или повышенный свод. Если просунуть палец сложно, это может указывать на плоскостопие. </li>
                                    <li class="text-open">При нормальном своде стопы: при попытке просунуть палец под свод стопы вы ощутите умеренное сопротивление. Ваш палец должен проходить под сводом с некоторым усилием, но без чрезмерного труда.</li>
                                    <li class="text-open">При повышенном своде стопы: если между сводом стопы и полом достаточно много места, так что ваш палец свободно проходит под ним и вы ощущаете значительный промежуток, это может указывать на повышенный (высокий) свод.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <ul class="list text-head">
                    <li>При нормальном своде стопы: при попытке просунуть палец под свод стопы вы ощутите умеренное сопротивление. Ваш палец должен проходить под сводом с некоторым усилием, но без чрезмерного труда.</li>
                    <li>При повышенном своде стопы: если между сводом стопы и полом достаточно много места, так что ваш палец свободно проходит под ним и вы ощущаете значительный промежуток, это может указывать на повышенный (высокий) свод.</li>
                </ul>
            </div>
            <div class="indent">
                <h2>
                    Проверка с помощью нашей диагностики
                </h2>
                <div class="diagnostics-flex">
                    <img src="~/img/diagnostics/image 17.png" alt="" />
                    <div class="diagnostics__content">
                        <p class="diagnostics__text">
                            Для того чтобы сделать фотографию стопы для проверки на вальгусную деформацию (выпячивание "косточки" у основания большого пальца), следуйте этим шагам:
                        </p>
                        <ol class="list">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Найдите хорошо освещенное место с однородным фоном для четкости изображения.</li>
                                    <li>Убедитесь, что на стопах нет одежды или обуви, они должны быть полностью обнажены.</li>
                                </ul>
                            </li>
                            <li class="text-open">
                                Позиционирование камеры:
                                <ul>
                                    <li>Разместите камеру на уровне стопы, чтобы снимок был сделан прямо и не искажал реальные пропорции.</li>
                                </ul>
                            </li>
                            <li class="text-open">
                                Позиция стопы:
                                <ul>
                                    <li>Встаньте прямо, распределяя вес тела равномерно на обе стопы или сядьте, чтобы стопы были как на примере фотографии.</li>
                                    <li>Позиционируйте стопы параллельно друг другу на расстоянии примерно 10-15 см.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <ol class="list text-open" start="4">
                    <li>
                        Виды снимков:
                        <ul>
                            <li>Снимок сверху: Сфотографируйте стопы сверху, чтобы была видна общая форма и расположение пальцев.</li>
                            <li>Снимок спереди: Фотографируйте стопы спереди, чтобы показать угол отклонения большого пальца и "косточки".</li>
                        </ul>
                    </li>
                    <li>
                        Технические аспекты:
                        <ul>
                            <li>Убедитесь, что фотографии четкие и в хорошем разрешении, чтобы детали были хорошо различимы.</li>
                            <li>Используйте нейтральный фон, чтобы избежать визуального шума.</li>
                        </ul>
                    </li>
                    <li>
                        Проверка качества снимков:
                        <ul>
                            <li>После съемки проверьте, что все ключевые детали видны и нет сильных теней или отражений, которые могут скрыть детали.</li>
                        </ul>
                    </li>
                </ol>
                <ol class="list text-head" start="2">
                    <li>
                        Позиционирование камеры:
                        <ul>
                            <li>Разместите камеру на уровне стопы, чтобы снимок был сделан прямо и не искажал реальные пропорции.</li>
                        </ul>
                    </li>
                    <li>
                        Позиция стопы:
                        <ul>
                            <li>Встаньте прямо, распределяя вес тела равномерно на обе стопы или сядьте, чтобы стопы были как на примере фотографии.</li>
                            <li>Позиционируйте стопы параллельно друг другу на расстоянии примерно 10-15 см.</li>
                        </ul>
                    </li>
                    <li>
                        Виды снимков:
                        <ul>
                            <li>Снимок сверху: Сфотографируйте стопы сверху, чтобы была видна общая форма и расположение пальцев.</li>
                            <li>Снимок спереди: Фотографируйте стопы спереди, чтобы показать угол отклонения большого пальца и "косточки".</li>
                        </ul>
                    </li>
                    <li>
                        Технические аспекты:
                        <ul>
                            <li>Убедитесь, что фотографии четкие и в хорошем разрешении, чтобы детали были хорошо различимы.</li>
                            <li>Используйте нейтральный фон, чтобы избежать визуального шума.</li>
                        </ul>
                    </li>
                    <li>
                        Проверка качества снимков:
                        <ul>
                            <li>После съемки проверьте, что все ключевые детали видны и нет сильных теней или отражений, которые могут скрыть детали.</li>
                        </ul>
                    </li>
                </ol>
                    <button type="submit" class="more" id="openModal">Загрузить фотографию<img src="../img/icon.png" alt=""></button>
            </div>
            <div class="indent top">
                <h2>
                    Примеры работы диагностики
                </h2>
            </div>
            <div class="image-slider swiper">
                <div class="image-slider__wrapper swiper-wrapper">
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelFeet/1.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelFeet/2.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelFeet/3.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelFeet/4.jpg" alt="Картинка" />
                        </div>
                    </div>
                    <div class="image-slider__slide swiper-slide">
                        <div class="image-slider__image">
                            <img src="~/img/diagnostics/resultsModelFeet/5.jpg" alt="Картинка" />
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</body>

</html>