<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диагностика "Грудной и поясничный отделы"</title>
    <link rel="icon" href="/img/head__foot/Логотип.png">
    <link rel="stylesheet" href="../css/Common/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/Diagnostics/diagnostics.css">
    <link rel="stylesheet" href="../css/Common/style.css">
    <script src="~/js/Diagnostics/diagnostics.js" defer></script>
    <script src="~/js/Common/clickActive.js" defer></script>
</head>

<body>
    <div class="wrapper">
        @Html.Partial("_DiagnosticsModal")
        @Html.Partial("_Header")
        <div class="container">
            <div class="indent text-bottom">
                <h2>
                    Грудной и поясничный отделы
                </h2>
                <div class="center">
                    <img class="big" src="~/img/diagnostics/image 18.png" alt="" />
                </div>
                <p class="diagnostics__text">
                    Шейный лордоз – это естественный изгиб позвоночника вперед в области шеи. Этот изгиб помогает поддерживать голову в вертикальном положении и распределять нагрузку от веса головы на позвоночник. Помимо поддержки головы, шейный лордоз обеспечивает гибкость и подвижность шеи, позволяя голове поворачиваться и наклоняться.
                    <br />Нарушения в шейном лордозе, такие как его усиление (гиперлордоз) или уменьшение (прямая шея), могут привести к болям в шее, ограничению движений и другим симптомам.
                </p>
                <p class="diagnostics__text">
                    Грудной кифоз – это естественный задний изгиб позвоночника в грудной области. Этот изгиб напоминает букву "C" и направлен выпуклостью назад. Грудной кифоз придает стабильность грудной клетке, защищая сердце, легкие и другие внутренние органы. Избыточный кифоз (гиперкифоз), известный как "горбатость", может привести к деформации позвоночника, болям в спине и нарушению функций дыхательной системы.
                </p>
                <p class="diagnostics__text">
                    Поясничный лордоз – это изгиб позвоночника вперед в поясничной области. Этот изгиб способствует распределению нагрузок и амортизации при ходьбе и движении. Поясничный лордоз играет ключевую роль в поддержании правильной осанки и обеспечении гибкости тела. Изменения в поясничном лордозе, включая усиление (гиперлордоз) или уменьшение, могут вызывать боли в пояснице, нарушения осанки и проблемы с межпозвоночными дисками.
                </p>
                <p class="diagnostics__text">
                    Крестцовый кифоз относится к небольшому естественному изгибу в области крестца, где позвоночник соединяется с тазовыми костями. Этот изгиб направлен выпуклостью назад. Крестцовый кифоз способствует правильному распределению веса тела на нижние конечности и поддерживает стабильность таза.тНарушения в области крестцового кифоза редки, но могут включать боли в нижней части спины или дисфункцию тазовых органов при смещениях или травмах.
                </p>
                <p class="diagnostics__text">
                    Важно отметить, что любые изменения или нарушения в естественных изгибах позвоночника могут привести к различным заболеваниям и требуют внимания специалистов, таких как ортопеды, неврологи или физиотерапевты, для коррекции и лечения. Если вы подозреваете, что у вас есть проблемы или испытываете какой-либо дискомфорт, рекомендуется обратиться к врачу.
                </p>
            </div>
            <div class="indent">
                <h2>
                    Самостоятельная проверка
                </h2>
                <p class="diagnostics__text">
                    Для самостоятельной проверки грудного кифоза и поясничного лордоза можно выполнить следующие шаги:
                </p>
                <p class="diagnostics__text bold">
                    Проверка грудного кифоза
                </p>
                <ol class="list">
                    <li>
                        Стойте прямо у стены:
                        <ul>
                            <li>Встаньте так, чтобы пятки, ягодицы и затылок касались стены. Плечи расслаблены.</li>
                        </ul>
                    </li>
                    <li>
                        Оцените промежуток:
                        <ul>
                            <li>Попробуйте просунуть руку в область между поясницей и стеной. Небольшой промежуток должен быть, так как естественный грудной кифоз создает небольшое расстояние.</li>
                            <li>Если промежуток слишком большой, это может указывать на усиленный грудной кифоз.</li>
                        </ul>
                    </li>
                    <li>
                        Измерьте угол наклона:
                        <ul>
                            <li>С помощью угломера или приложения на смартфоне, которое позволяет измерять углы, можно оценить угол наклона вашего туловища относительно ног. При значительном кифозе угол будет больше.</li>
                        </ul>
                    </li>
                </ol>
                <p class="diagnostics__text bold">
                    Проверка поясничного лордоза
                </p>
                <ol class="list">
                    <li>
                        Стойте прямо у стены:
                        <ul>
                            <li>Аналогично, встаньте так, чтобы пятки, ягодицы и затылок касались стены. Плечи расслаблены.</li>
                        </ul>
                    </li>
                    <li>
                        Оцените промежуток в пояснице:
                        <ul>
                            <li>Попробуйте просунуть руку в область между поясницей и стеной. В норме должен быть небольшой промежуток, достаточный, чтобы просунуть ладонь.</li>
                            <li>Слишком большой промежуток может указывать на усиленный лордоз, а слишком маленький или отсутствие промежутка — на сниженный лордоз.</li>
                        </ul>
                    </li>
                    <li>
                        Измерьте угол наклона:
                        <ul>
                            <li>Встаньте боком к зеркалу и посмотрите на кривую вашей поясницы. Нормальный лордоз должен иметь естественный изгиб, но не слишком выраженный.</li>
                            <li>Изменения в изгибе, такие как слишком сильный изгиб или его плоскость, могут указывать на проблемы.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="indent">
                <h2>
                    Проверка с помощью нашей диагностики
                </h2>
                <div class="diagnostics-flex">
                    <img src="~/img/diagnostics/image 19.png" alt="" />
                    <div class="diagnostics__content">
                        <p class="diagnostics__text">
                            Для того чтобы сделать фотографию для проверки поясничного лордоза и грудного кифоза, следуйте этим шагам:
                        </p>
                        <ol class="list">
                            <li>
                                Подготовка:
                                <ul>
                                    <li>Найдите хорошо освещенное помещение с однородным фоном для четкости изображения, например, у стены. Убедитесь, что на фоне нет отвлекающих предметов.</li>
                                    <li>Используйте камеру смартфона или фотоаппарат. Поместите его на устойчивую поверхность или треногу на уровне груди.</li>
                                </ul>
                            </li>
                            <li>
                                Позиционирование:
                                <ul>
                                    <li>Встаньте боком к камере так, чтобы одна сторона тела была направлена к объективу. Плечи и бедра должны быть параллельны камере.</li>
                                    <li>Расслабьте мышцы и стойте естественно, не напрягаясь. Руки нужно опустить вдоль тела.</li>
                                    <li>Голова должна быть направлена вперед, взгляд направлен прямо, чтобы позвоночник находился в естественном положении.</li>
                                </ul>
                            </li>
                            <li>
                                Фотографирование:
                                <ul>
                                    <li>Настройте таймер на камере, чтобы у вас было достаточно времени занять правильную позу перед съемкой.</li>
                                    <li>Чтобы убедиться, что вы получите четкое изображение, сделайте несколько снимков.</li>
                                </ul>
                            </li>
                            <li>
                                Оценка:
                                <ul>
                                    <li>Проверьте фотографии: Убедитесь, что фотографии четкие и на них хорошо видны изгибы позвоночника в грудной и поясничной областях.</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <button type="submit" class="more" id="openModal">Загрузить фотографию<img src="../img/icon.png" alt=""></button>
            </div>
            <div class="indent top">
                <h2>
                    Примеры работы диагностики
                </h2>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</body>

</html>